---
import type { Event } from "@/lib/content/types";

interface Props {
	event: Event;
}

const { event } = Astro.props;
---

<article class="grid gap-y-2">
	<h3 class="font-medium text-neutral-950 dark:text-neutral-0">{event.title}</h3>
	<dl class="grid gap-y-2">
		<div>
			<dt
				class="text-xs font-semibold uppercase tracking-wider text-neutral-600 dark:text-neutral-400"
			>
				Place
			</dt>
			<dd>{event.place}</dd>
		</div>
		<div>
			<dt
				class="text-xs font-semibold uppercase tracking-wider text-neutral-600 dark:text-neutral-400"
			>
				Host
			</dt>
			<dd>{event.host}</dd>
		</div>
		<div>
			<dt
				class="text-xs font-semibold uppercase tracking-wider text-neutral-600 dark:text-neutral-400"
			>
				Date
			</dt>
			<dd>
				<time datetime={event.date}>{event.date}</time>
			</dd>
		</div>
	</dl>
</article>
