---
import MainContent from "@/components/main-content.astro";
import PageSection from "@/components/page-section.astro";
import PageTitle from "@/components/page-title.astro";
import { locales } from "@/config/i18n.config";
import PageLayout from "@/layouts/page-layout.astro";
import { getCollectionName } from "@/lib/content/get-collection-name";
import { processMdx } from "@/lib/content/mdx";
import { reader } from "@/lib/content/reader";
import { createI18n } from "@/lib/i18n";

export async function getStaticPaths() {
	return (
		await Promise.all(
			locales.flatMap(async (locale) => {
				const pages = await reader().collections[getCollectionName("events", locale)].all();

				return pages.map((page) => {
					return { params: { id: page.slug, locale }, props: { page: page.entry } };
				});
			}),
		)
	).flat();
}

const { locale } = Astro.params;

const { page } = Astro.props;

const { t } = await createI18n(locale);
const formatter = { date: new Intl.DateTimeFormat(locale, { dateStyle: "long" }) };

const documentTitle = page.title;
const { date, image, place, title } = page;
const { default: Content } = await processMdx(await page.content(), locale);
---

<PageLayout locale={locale} title={documentTitle}>
	<MainContent>
		<PageSection>
			<PageTitle>{title}</PageTitle>
			<dl>
				<div>
					<dt>{t("EventPage.date")}</dt>
					<dd>
						<time datetime={date}>
							{formatter.date.format(new Date(date))}
						</time>
					</dd>
				</div>
				<div>
					<dt>{t("EventPage.place")}</dt>
					<dd>{place}</dd>
				</div>
			</dl>
			<div class="prose prose-sm">
				<Content />
			</div>
		</PageSection>
	</MainContent>
</PageLayout>
